apiVersion: zookeeper.pravega.io/v1beta1
kind: ZookeeperCluster
metadata:
    name: {{ .Name }}
    namespace: {{ or .Namespace "zookeeper" }}
spec:
    replicas: {{ or .Replicas 1 }}
    image:
        repository: ghcr.io/adobe/zookeeper-operator/zookeeper
        tag: 3.8.4-0.2.15-adobe-20250923
    persistence:
        reclaimPolicy: Delete
